In [22]:
import numpy as np
import pandas as pd

In [23]:
data = pd.read_csv("movie.csv")

In [24]:
data.head()

,mov_id,movie_title,movie_year,dra_time,Cast,Genre
0,1,Move to Heaven,2021,52 min.,"Lee Je Hoon, Tang Jun Sang, Hong Seung Hee, Ju...","Life, Drama, Family"
1,2,Hospital Playlist,2020,1 hr. 30 min.,"Jo Jung Suk, Yoo Yeon Seok, Jung Kyung Ho, Kim...","Friendship, Romance, Life, Medical"
2,3,Flower of Evil,2020,1 hr. 10 min.,"Lee Joon Gi, Moon Chae Won, Jang Hee Jin, Seo ...","Thriller, Romance, Crime, Melodrama"
3,4,Hospital Playlist 2,2021,1 hr. 40 min.,"Jo Jung Suk, Yoo Yeon Seok, Jung Kyung Ho, Kim...","Friendship, Romance, Life, Medical"
4,5,My Mister,2018,1 hr. 17 min.,"Lee Sun Kyun, IU, Park Ho San, Song Sae Byuk, ...","Psychological, Life, Drama, Family"

In [25]:
movie_genres=[]
mov_id=[]
movie_genres_temp = data['Genre'].values.tolist()
movie_genres_temp1=[]

In [26]:

for i in data['mov_id']:
    movie_genres.append(movie_genres_temp[i-1].split(","))

In [27]:
for i in range(len(movie_genres_temp)):
    for j in movie_genres_temp[i].split(","):
        mov_id.append(i)
        movie_genres_temp1.append(j)

In [28]:
data={"mov_id":mov_id,"movie_genres":movie_genres_temp1}
df = pd.DataFrame(data)
df.head()

   mov_id movie_genres
0       0         Life
1       0        Drama
2       0      Family
3       1   Friendship
4       1      Romance

In [29]:

#print(len(pd.unique(df["movie_genres"])))

In [30]:
df['movie_genres']=df['movie_genres'].str.strip()
df['genre_id'] = pd.factorize(df['movie_genres'])[0]

In [31]:
print(len(pd.unique(df["genre_id"])))

26

In [32]:
df.head(20)

    mov_id   movie_genres  genre_id
0        0           Life         0
1        0          Drama         1
2        0         Family         2
3        1     Friendship         3
4        1        Romance         4
5        1           Life         0
6        1        Medical         5
7        2       Thriller         6
8        2        Romance         4
9        2          Crime         7
10       2      Melodrama         8
11       3     Friendship         3
12       3        Romance         4
13       3           Life         0
14       3        Medical         5
15       4  Psychological         9
16       4           Life         0
17       4          Drama         1
18       4         Family         2
19       5         Comedy        10

In [33]:
df[['mov_id', 'genre_id']].to_csv('movie_genres.csv',mode = 'w', index=False)
df[['genre_id','movie_genres']].to_csv('genres_temp.csv',mode = 'w', index=False)

In [34]:
genreData=pd.read_csv("genres_temp.csv")

In [35]:

genreData.drop('genre_id',axis=1,inplace=True)

print(genreData)

    movie_genres
0           Life
1          Drama
2         Family
3     Friendship
4        Romance
..           ...
391        Drama
392     Business
393       Comedy
394      Romance
395       Sports

[396 rows x 1 columns]

In [36]:
genreData=genreData.drop_duplicates(subset=None, keep="first", inplace=False)

a=genreData['movie_genres'].values.tolist()


genreData.head(20)

     movie_genres
0            Life
1           Drama
2          Family
3      Friendship
4         Romance
6         Medical
7        Thriller
9           Crime
10      Melodrama
15  Psychological
19         Comedy
25          Youth
31     Historical
32        Mystery
41         Sci-Fi
46         Action
49        Fantasy
51            Law
54       Military
57      Political

In [37]:
genreData[['movie_genres']].to_csv('genres.csv',mode = 'w', index=False)
print(len(a))

26

In [38]:
data.head()

AttributeError: 'dict' object has no attribute 'head'